@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/charm/v8/7cHmv4oii5K0MeYv.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}
body {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
}
body * {
  font-family: 'Roboto', sans-serif;
}
body div {
  display: flex;
}
body > div {
  flex-direction: column;
}
body input {
  font-family: 'Charm', cursive;
  outline: none;
  text-align: center;
}
#info {
  flex-direction: column;
}
#info > .info-block {
  flex-direction: row;
  width: 100%;
}
#info > .info-block > :not(:last-child) {
  margin-bottom: 0.75rem;
}
#info > .info-block > .info-input-block {
  flex-direction: column;
  width: 100%;
}
#info > .info-block > .info-input-block > :not(:last-child) {
  margin-right: 1rem;
}
#info > .info-block > .info-input-block input {
  line-height: 2rem;
  border: solid 1.75px #000;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: large;
  padding-left: 0.5rem;
}
#info > .info-block > .info-input-block > label {
  padding-left: 0.5rem;
}
#habilidades {
  max-width: 30rem;
}
#habilidades > table {
  border-collapse: collapse;
}
#habilidades > table th {
  font-size: 0.75rem;
}
#habilidades > table tr:not(:first-child) {
  line-height: 3.5rem;
}
#habilidades > table tr:not(:last-child):not(:first-child) {
  border-bottom: 1px solid #808080;
  line-height: 3.5rem;
}
#habilidades > table tr,
#habilidades > table tr * {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#habilidades > table td:first-child {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
#habilidades > table input {
  max-width: 3rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
#pv-grid {
  display: grid;
  height: fit-content;
  width: fit-content;
  grid-template-columns: auto auto auto auto;
}
#pv-grid * {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#pv-grid .pv-header {
  font-size: 0.75rem;
  font-weight: bold;
}
#pv-grid .pv-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
}
#pv-grid input {
  max-width: 10rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
#pv-grid > :not(:first-child) {
  margin-left: 0.25rem;
}
#pv-grid > :not(:last-child) {
  margin-right: 0.25rem;
}
#ca-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  height: fit-content;
  width: fit-content;
}
#ca-grid > div {
  align-items: center;
  justify-content: center;
}
#ca-grid .ca-header {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  align-items: flex-end;
}
#ca-grid .ca-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
}
#ca-grid input {
  max-width: 3rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
#ca-grid #ca-total {
  margin-left: 0.25rem;
}
#resistencias {
  display: grid;
  height: fit-content;
  width: fit-content;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
#resistencias > div {
  align-items: center;
  justify-content: center;
}
#resistencias .res-header {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  align-items: flex-end;
}
#resistencias .res-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
}
#resistencias input {
  max-width: 3rem;
  line-height: 2rem;
  font-size: 1.5rem;
}
#resistencias .res-text,
#resistencias input {
  margin-bottom: 0.1rem;
}
#resistencias #res-fort-total,
#resistencias #res-ref-total,
#resistencias #res-von-total {
  margin-left: 0.25rem;
}
#pericias {
  border-collapse: collapse;
  border-left: #808080 solid 1px;
}
#pericias td,
#pericias th {
  width: fit-content;
  text-align: center;
}
#pericias tr:not(:last-child) {
  border-bottom: solid 1px #808080;
}
#pericias tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#pericias tr > td:nth-child(2) {
  font-size: 0.75rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
#pericias .peri-header {
  font-size: 0.75rem;
  font-weight: bold;
}
#pericias .peri-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
}
#pericias input {
  width: 2rem;
  font-size: 1.2rem;
}
